<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>




<!-- NAV -->
<div th:fragment="header" style="margin-top: -20px;">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home"><i>Best of Wines</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">

            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/wines">Wines</a>
                </li>
                <li class="nav-item m-auto">
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" href="/categories">Categories</a>
                    </th:block>
                </li>
                <li class="nav-item m-auto">
                    <th:block sec:authorize="hasAnyRole('ADMIN','MANUFACTURER')">
                        <a class="nav-link active" href="/types">Varieties</a>
                    </th:block>
                </li>
                <li class="nav-item m-auto">
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" href="/manufacturers">Manufacturers</a>
                    </th:block>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <th:block sec:authorize="hasAnyRole('ADMIN','CUSTOMER')">
                    <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                        <i class="fa fa-shopping-cart"></i>  Cart
                    </a>
                </th:block>

                <a th:if="${#request.getRemoteUser() == null}" class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa fa-sign-in"></i>  Login
                </a>
                <a th:if="${#request.getRemoteUser() != null}" class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-sign-out"></i>  Logout
                </a>

            </form>
            <a class="text-light" style="padding-left: 2%; font-size: small;" th:if="${#request.getRemoteUser() != null}" th:text="'Hello, ' + ${#request.getUserPrincipal().name}" href="#"></a>

        </div>
    </div>
</nav>
</div>


</body>

</html>