<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .hero {
            position: relative;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hero::before {
            content: "";
            background-image: url('https://images.pexels.com/photos/2537608/pexels-photo-2537608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.4;
        }
    </style>

</head>


<body>

<!-- USING THE HEADER FRAGMENT FROM FRAGMENTS/HEADER-->
<div th:replace="fragments/header :: header"> </div>


<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark hero">
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50 ">
                <h1 class="display-2  text-light mb-2 mt-5"><strong><i>Best of Wines</i></strong> </h1>
                <p class="lead text-light mb-5"><strong><i>A treasure of fine wines and spirits</i></strong></p>
                <p><a href="/wines" class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Explore more</a></p>
            </div>

        </div>
    </div>
</section>
<br>
<br>
<div class="container-fluid">
    <div class="container text-center">
        <h1>Best of Wines</h1>
        <p class="w-lg-50 mx-auto"><i>Our dedicated and experienced wine professionals have in-depth knowledge <br> of the wine industry and global market, with a clear focus on fine and rare wines.</i></p>
    </div>










    <!-- LISTING ALL WINES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <div class="container">
        <div class="row clearfix" th:if="${wines.size() > 0}" th:fragment="list">
            <div th:each="wine : ${wines}" class="col-md-6 col-xl-3 portfolio-item" th:classappend="${wine.getCategory().getName()}">
                <div class="card product_item m-b-30" >
                    <div class="card-body row">
                        <div class="cp_img col-6">
                            <img th:src="${wine.getImageUrl()}" alt="Product" class="img-fluid">


                                <th:block sec:authorize="hasAnyRole('CUSTOMER')">
                                    <form style="display: inline-block; padding-right: 10%;" th:action="@{'/shopping-cart/add-wine/{id}' (id=${wine.getId()})}" th:method="POST">
                                        <button type="submit" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></button>
                                    </form>
                                </th:block>

                            </div>

                        </div>
                        <div class="product_details">
                            <h5 th:text="${wine.getName()}" style="padding-left: 5%"></h5>
                            <ul class="product_price list-unstyled" style="padding-left: 5%; padding-bottom: 5%;">
                                <li class="old_price" th:text="${#numbers.formatDecimal(wine.getPrice(), 0, 'COMMA', 2, 'POINT')} + ' $'"></li>
                                <li class="old_price" th:text="'Manufacturer: ' + ${wine.getManufacturer().getName()}"></li>
                            </ul>
                        </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">25%</span>
                        <span class="d-block">OFF</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








</div>
<br>
<br>


<!-- USING THE FOOTER FRAGMENT FROM FRAGMENTS/FOOTER-->
<div th:replace="fragments/footer :: footer"> </div>


</body>
</html>


