<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wines</title>

    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- USING THE HEADER FRAGMENT FROM FRAGMENTS/HEADER-->
<div th:replace="fragments/header :: header"></div>



<section class="pt-5 pb-5 mt-0 align-items-center d-flex jumbotron">
    <div class="container" style="background-image: url('https://www.agco.ca/sites/default/files/wine.png'); opacity: 0.7; background-size: cover; height: 40vh;">
        <div class="justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50 ">
                <div>
                    <h1 class="display-2 mb-2 mt-5 jumbotron-heading text-light">All users</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container mb-4">
    <div class="row">

        <div class="col-12" th:if="${users.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">User's name</th>
                        <th scope="col">User's email</th>
                        <th scope="col">User's delivery address</th>
                        <th scope="col">User's role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.getName()} + ' ' + ${user.getSurname()} "></td>
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getAddress()}"></td>
                        <td th:text="${user.getRole()}"></td>


                        <td class="text-right">
                            <form th:action="@{'/users/delete/{userId}' (userId=${user.getId()})}" th:method="DELETE">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this user?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            </form>



                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/users/add-form" class="btn btn-block btn-dark">Add new administrator</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<!-- USING THE FOOTER FRAGMENT FROM FRAGMENTS/FOOTER-->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>